{% load static %}


<a href="https://drive.google.com/open?id=1OrQzNX497sNjnSlBu1oBYxtgce9gdKD5"> <img src="{% static 'css/bookimages/new_dim.jpg' %}"> </a>

<a href="https://drive.google.com/open?id=1Ov3RilwrXIE-TmLpxSGE84RK83r7Kg__"> <img src="{% static 'css/bookimages/red_sonja.jpg' %}"> </a>


<a href="https://drive.google.com/open?id=1uDJllqR7S82A74_i2gN-hTrKyI6uZ7js"> <img src="{% static 'css/bookimages/bk_of_thvs.png' %}"> </a>

<a href="http://www.mediafire.com/file/i6opb3fjgawrzji/01_Harry_Potter_and_the_Sorcerer%2527s_Stone-min.zip/file"> <img src="{% static 'css/bookimages/hp1.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/u0yzo1j52tzrmom/02_Harry_Potter_and_the_Chamber_of_Secrets-min.zip/file"> <img src="{% static 'css/bookimages/hp2.jpg' %}"> </a>

