{% load static %}


<a href="https://drive.google.com/open?id=1OrQzNX497sNjnSlBu1oBYxtgce9gdKD5"> <img src="{% static 'css/bookimages/new_dim.jpg' %}"> </a>

<a href="https://drive.google.com/open?id=1Ov3RilwrXIE-TmLpxSGE84RK83r7Kg__"> <img src="{% static 'css/bookimages/red_sonja.jpg' %}"> </a>


<a href="https://drive.google.com/open?id=1uDJllqR7S82A74_i2gN-hTrKyI6uZ7js"> <img src="{% static 'css/bookimages/bk_of_thvs.png' %}"> </a>

<a href="http://www.mediafire.com/file/i6opb3fjgawrzji/01_Harry_Potter_and_the_Sorcerer%2527s_Stone-min.zip/file"> <img src="{% static 'css/bookimages/hp1.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/u0yzo1j52tzrmom/02_Harry_Potter_and_the_Chamber_of_Secrets-min.zip/file"> <img src="{% static 'css/bookimages/hp2.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/nkahidwpxxpfq47/03_Harry_Potter_and_the_Prisoner_of_Azkaban-min.zip/file"> <img src="{% static 'css/bookimages/hp3.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/7fezkwap551cnsg/04_Harry_Potter_and_the_Goblet_of_Fire-min.zip/file"> <img src="{% static 'css/bookimages/hp4.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/iuccb4lqmg1oqy5/05_Harry_Potter_and_the_Order_of_the_Phoenix-min.zip/file"> <img src="{% static 'css/bookimages/hp5.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/6w3g8aon3rj0s7m/06_Harry_Potter_and_the_Half-Blood_Prince-min.zip/file"> <img src="{% static 'css/bookimages/hp6.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/hssb6mub3oewksu/07_Harry_Potter_and_the_Deathly_Hallows-min.zip/file"> <img src="{% static 'css/bookimages/hp7.jpg' %}"> </a>

<a href="http://www.mediafire.com/file/243oi90z5xvp0sk/Fantastic_Beasts_and_Where_to_Find_Them-min.zip/file"> <img src="{% static 'css/bookimages/Fantastic Beasts.jpg' %}"> </a>

<a href="https://drive.google.com/open?id=15OyfEBSU4io17S8fsZ5G1DUKtgdAkc0L"> <img src="{% static 'css/bookimages/book_of_dragons.png' %}"> </a>